{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <div class="container-md">
        <div class="row">
            <div class="col-3">
                <form action={{ path('app_product_index') }} method="get">           
                  
                    Min Price: <input type="number" name="minPrice" value="minP">
                    <br></br>
                    Max Price: <input type="number" name="maxPrice" value="manP"><br></br>
                    <ul class="list-group" style="width: 270px;">
                    <li class="list-group-item active" style="background-color: black;">SELECT CATEGORY</li>

                    <select name="category">
							<option value="0">All</option>
							{% for category in categories %}
								<option value="{{ category.Id }}" {{ category.id == catNumber ? 'selected' }} >{{ category.Name }}</option>
							{% endfor %}
						</select><br>

                    <input type="submit" value="Filter" class="btn btn-primary"> <br>
                    <a href="{{ path('app_product_index') }}"
                       class="btn btn-primary">Reset</a>
                    
                   {% if is_granted('ROLE_ADMIN') %}
                   <br>
                   <a href="{{ path('app_product_new') }}"
                       class="btn btn-primary">Add new product</a>
                   <br>
                   <a href="{{ path('app_category_new') }}"
                       class="btn btn-primary">Add new category</a>            
                    {% endif %}

                        {# <br></br> 
                        <ul class="list-group" style="width: 270px;">
                    <li class="list-group-item active" style="background-color: black;">CATEGORY</li>
					<a style="text-decoration: none;color: black;" href="{{ path('app_product_index') }}"> 
                    <li style="background-color: #D3D3D3;" class="list-group-item">All</li></a></a>
					{% for category in categories %}
						<a style="text-decoration: none;color: black;" href="{{ path('app_product_index', {'category':category.Id}) }}">
                        <li style="background-color: #D3D3D3;" class="list-group-item">{{ category.Name }}
							</a>                       
					{% endfor %}   #}

                </form>
                <br> </br>
                   
            </div>

            <div class="col-9">
                <div class="container" section class="vh-100">       


                {# Nếu là admin #}
                {% if is_granted('ROLE_ADMIN')%}
                <font ><marquee direction="left" style="background:orange"><h2>Bạn đang đăng nhập với quyền ADMIN.</h2></marquee></font>
                    <h4>Product Listing Managerment</h4>
                     <h4>Total product: {{ tongso }}</h4> 
        
                {# Ngược lại Nếu là User #}
                {% elseif is_granted('ROLE_USER')%}
                               <marquee style="border:blue 2px SOLID"><h2>Chào mừng bạn đến với cửa hàng của chúng tôi.</h2></marquee></font>
                    <h4>Product Listing</h4>
                     <h4>Total product: {{ tongso }}</h4> 
        
                {# còn nếu chưa login acc thì... #}
                {% else %} 
                   <h4>Product Listing</h4>
                    <h4>Total product: {{ tongso }}</h4> 
        
                {% endif %}

               

        <div class="row row-cols-1 row-cols-md-4 g-4">
       
             {% for product in products %}
                            <div class="col">
                                <div class="card h-100">
                                    <img class="card-img-top" src="{{ asset('images/product/' ~ product.getImage()) }}" width="200px" height="155px">
                                    <div class="card-body">
                                      {% if is_granted('ROLE_ADMIN')%}  
                                       <h5> <h5><a href="{{ path('app_product_showadmin', {'id': product.id}) }}" class="btn btn-light"><h5>{{ product.Name }}</h5>
                                        
                                        {% elseif is_granted('ROLE_USER')%}
                                        <h5> <h5><a href="{{ path('app_product_showuser', {'id': product.id}) }}" class="btn btn-light"><h5>{{ product.Name }}</h5>
                                        
                                              {% else %} 
                                              <h5> <h5><a href="{{ path('app_product_showlogout', {'id': product.id}) }}"  class="btn btn-light"><h5>{{ product.Name }}</h5>
                                               {# <h4> Vui lòng Login Để Mua Sản Phẩm </h4> #}
                                                 {% endif %}
                                        <h6 class="card-subtitle">Category: {{ product.category.name }}</h6>
                                        <p>Price: {{ product.price }}</p>

                    
                                    </div>
                                
                                    <div class="card-footer">

                                    {% if is_granted('ROLE_ADMIN')%}
                                            <a href="{{ path('app_product_showadmin', {'id': product.id}) }}"
                                           class="btn btn-primary">Show</a>
                                           <a class="btn btn-dark" href="{{ path('app_product_edit', {'id': product.id}) }}">edit</a>
                                           <br></br>
                                       <form><h6> Xóa SP Click: {{ include('product/_delete_form.html.twig') }} </h6> </form>
                                            <br></br>
                                            <form action="{{ path('app_add_cart', {'id': product.id}) }}" method="GET">
                                    <h5> Select Quantity</h5>
                                    <input type="number" id="quantity" name="quantity" value="1"> <br></br>
                                        <button href="{{ path('app_add_cart', {'id': product.id}) }}"
                                        class="btn btn-primary" type="submit">ADD CART</button>  

                                    {% elseif is_granted('ROLE_USER')%}
                                        <a href="{{ path('app_product_showuser', {'id': product.id}) }}"
                                           class="btn btn-primary">Show thông tin sp</a>  
                                                     <br></br>
                                            <form action="{{ path('app_add_cart', {'id': product.id}) }}" method="GET">
                                    <h5> Select Quantity</h5>
                                    <input type="number" id="quantity" name="quantity" value="1"> <br></br>
                                        <button href="{{ path('app_add_cart', {'id': product.id}) }}"
                                        class="btn btn-primary" type="submit">ADD CART</button>  

                                    {% else %} 
                                           <a href="{{ path('app_product_showlogout', {'id': product.id}) }}"
                                           class="btn btn-primary">Show</a>
                                           {# <h4> Để Mua Sản Phẩm, Bạn Cần Login </h4>                           #}
                                    {% endif %}
                                    </form>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
            </div>
        </div>
        <div class="row mt-2">
                        <div style="display:flex;text-align:center;justify-content:center">
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    {% for i in range(1, numOfPages) %}
                                        {% set style = app.request.get('pageId')==i ? "active" : "" %}
                                        <li class="page-item {{ style }}">
                                            <a class="page-link"
                                               href={{ path(app.request.attributes.get('_route'),
                                                app.request.query.all|merge({'pageId': i})) }}>{{ i }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </nav>
                        </div>
    </div>
{% endblock %}
